    /*
    Flaticon icon font: Flaticon
    Creation date: 04/05/2018 08:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-layout-3:before { content: "\f100"; }
.flaticon-002-water-1:before { content: "\f101"; }
.flaticon-003-water:before { content: "\f102"; }
.flaticon-004-drop:before { content: "\f103"; }
.flaticon-005-gallery-1:before { content: "\f104"; }
.flaticon-006-up-arrow:before { content: "\f105"; }
.flaticon-007-umbrella-1:before { content: "\f106"; }
.flaticon-008-umbrella:before { content: "\f107"; }
.flaticon-009-remote-control-1:before { content: "\f108"; }
.flaticon-010-desk-lamp:before { content: "\f109"; }
.flaticon-011-stars:before { content: "\f10a"; }
.flaticon-012-star:before { content: "\f10b"; }
.flaticon-013-skateboard:before { content: "\f10c"; }
.flaticon-014-shopping-cart-1:before { content: "\f10d"; }
.flaticon-015-monitor:before { content: "\f10e"; }
.flaticon-016-sales:before { content: "\f10f"; }
.flaticon-017-right-arrow:before { content: "\f110"; }
.flaticon-018-remote-control:before { content: "\f111"; }
.flaticon-019-purse:before { content: "\f112"; }
.flaticon-020-shield:before { content: "\f113"; }
.flaticon-021-picture:before { content: "\f114"; }
.flaticon-022-panorama:before { content: "\f115"; }
.flaticon-023-clipboard:before { content: "\f116"; }
.flaticon-024-newtons-cradle:before { content: "\f117"; }
.flaticon-025-microphone:before { content: "\f118"; }
.flaticon-026-ham-leg:before { content: "\f119"; }
.flaticon-027-list:before { content: "\f11a"; }
.flaticon-028-heart-1:before { content: "\f11b"; }
.flaticon-029-left-arrow:before { content: "\f11c"; }
.flaticon-030-brick:before { content: "\f11d"; }
.flaticon-031-layout-2:before { content: "\f11e"; }
.flaticon-032-layout-1:before { content: "\f11f"; }
.flaticon-033-layout:before { content: "\f120"; }
.flaticon-034-laptop:before { content: "\f121"; }
.flaticon-035-network-1:before { content: "\f122"; }
.flaticon-036-settings-3:before { content: "\f123"; }
.flaticon-037-outbox:before { content: "\f124"; }
.flaticon-038-inbox:before { content: "\f125"; }
.flaticon-039-image-1:before { content: "\f126"; }
.flaticon-040-home:before { content: "\f127"; }
.flaticon-041-heart:before { content: "\f128"; }
.flaticon-042-plug-1:before { content: "\f129"; }
.flaticon-043-vector:before { content: "\f12a"; }
.flaticon-044-gold-ingot:before { content: "\f12b"; }
.flaticon-045-beverage-1:before { content: "\f12c"; }
.flaticon-046-beverage:before { content: "\f12d"; }
.flaticon-047-gallery:before { content: "\f12e"; }
.flaticon-048-focus:before { content: "\f12f"; }
.flaticon-049-flag:before { content: "\f130"; }
.flaticon-050-fish:before { content: "\f131"; }
.flaticon-051-hydrant:before { content: "\f132"; }
.flaticon-052-calendar:before { content: "\f133"; }
.flaticon-053-edit:before { content: "\f134"; }
.flaticon-054-down-arrow:before { content: "\f135"; }
.flaticon-055-do-not-disturb:before { content: "\f136"; }
.flaticon-056-doorknob:before { content: "\f137"; }
.flaticon-057-video-file:before { content: "\f138"; }
.flaticon-058-file-1:before { content: "\f139"; }
.flaticon-059-music-file:before { content: "\f13a"; }
.flaticon-060-image:before { content: "\f13b"; }
.flaticon-061-analytics-1:before { content: "\f13c"; }
.flaticon-062-file:before { content: "\f13d"; }
.flaticon-063-analytics:before { content: "\f13e"; }
.flaticon-064-diamond:before { content: "\f13f"; }
.flaticon-065-smartphone:before { content: "\f140"; }
.flaticon-066-delete:before { content: "\f141"; }
.flaticon-067-plug:before { content: "\f142"; }
.flaticon-068-settings-2:before { content: "\f143"; }
.flaticon-069-chat:before { content: "\f144"; }
.flaticon-070-franchise:before { content: "\f145"; }
.flaticon-071-server:before { content: "\f146"; }
.flaticon-072-group:before { content: "\f147"; }
.flaticon-073-network:before { content: "\f148"; }
.flaticon-074-cassette:before { content: "\f149"; }
.flaticon-075-shopping-cart:before { content: "\f14a"; }
.flaticon-076-car-key:before { content: "\f14b"; }
.flaticon-077-paint-brush:before { content: "\f14c"; }
.flaticon-078-brightness:before { content: "\f14d"; }
.flaticon-079-book:before { content: "\f14e"; }
.flaticon-080-shopping-basket:before { content: "\f14f"; }
.flaticon-081-shopping-bags:before { content: "\f150"; }
.flaticon-082-settings-1:before { content: "\f151"; }
.flaticon-083-agenda:before { content: "\f152"; }
.flaticon-084-settings:before { content: "\f153"; }
.flaticon-085-filter:before { content: "\f154"; }
    
    $font-Flaticon-001-layout-3: "\f100";
    $font-Flaticon-002-water-1: "\f101";
    $font-Flaticon-003-water: "\f102";
    $font-Flaticon-004-drop: "\f103";
    $font-Flaticon-005-gallery-1: "\f104";
    $font-Flaticon-006-up-arrow: "\f105";
    $font-Flaticon-007-umbrella-1: "\f106";
    $font-Flaticon-008-umbrella: "\f107";
    $font-Flaticon-009-remote-control-1: "\f108";
    $font-Flaticon-010-desk-lamp: "\f109";
    $font-Flaticon-011-stars: "\f10a";
    $font-Flaticon-012-star: "\f10b";
    $font-Flaticon-013-skateboard: "\f10c";
    $font-Flaticon-014-shopping-cart-1: "\f10d";
    $font-Flaticon-015-monitor: "\f10e";
    $font-Flaticon-016-sales: "\f10f";
    $font-Flaticon-017-right-arrow: "\f110";
    $font-Flaticon-018-remote-control: "\f111";
    $font-Flaticon-019-purse: "\f112";
    $font-Flaticon-020-shield: "\f113";
    $font-Flaticon-021-picture: "\f114";
    $font-Flaticon-022-panorama: "\f115";
    $font-Flaticon-023-clipboard: "\f116";
    $font-Flaticon-024-newtons-cradle: "\f117";
    $font-Flaticon-025-microphone: "\f118";
    $font-Flaticon-026-ham-leg: "\f119";
    $font-Flaticon-027-list: "\f11a";
    $font-Flaticon-028-heart-1: "\f11b";
    $font-Flaticon-029-left-arrow: "\f11c";
    $font-Flaticon-030-brick: "\f11d";
    $font-Flaticon-031-layout-2: "\f11e";
    $font-Flaticon-032-layout-1: "\f11f";
    $font-Flaticon-033-layout: "\f120";
    $font-Flaticon-034-laptop: "\f121";
    $font-Flaticon-035-network-1: "\f122";
    $font-Flaticon-036-settings-3: "\f123";
    $font-Flaticon-037-outbox: "\f124";
    $font-Flaticon-038-inbox: "\f125";
    $font-Flaticon-039-image-1: "\f126";
    $font-Flaticon-040-home: "\f127";
    $font-Flaticon-041-heart: "\f128";
    $font-Flaticon-042-plug-1: "\f129";
    $font-Flaticon-043-vector: "\f12a";
    $font-Flaticon-044-gold-ingot: "\f12b";
    $font-Flaticon-045-beverage-1: "\f12c";
    $font-Flaticon-046-beverage: "\f12d";
    $font-Flaticon-047-gallery: "\f12e";
    $font-Flaticon-048-focus: "\f12f";
    $font-Flaticon-049-flag: "\f130";
    $font-Flaticon-050-fish: "\f131";
    $font-Flaticon-051-hydrant: "\f132";
    $font-Flaticon-052-calendar: "\f133";
    $font-Flaticon-053-edit: "\f134";
    $font-Flaticon-054-down-arrow: "\f135";
    $font-Flaticon-055-do-not-disturb: "\f136";
    $font-Flaticon-056-doorknob: "\f137";
    $font-Flaticon-057-video-file: "\f138";
    $font-Flaticon-058-file-1: "\f139";
    $font-Flaticon-059-music-file: "\f13a";
    $font-Flaticon-060-image: "\f13b";
    $font-Flaticon-061-analytics-1: "\f13c";
    $font-Flaticon-062-file: "\f13d";
    $font-Flaticon-063-analytics: "\f13e";
    $font-Flaticon-064-diamond: "\f13f";
    $font-Flaticon-065-smartphone: "\f140";
    $font-Flaticon-066-delete: "\f141";
    $font-Flaticon-067-plug: "\f142";
    $font-Flaticon-068-settings-2: "\f143";
    $font-Flaticon-069-chat: "\f144";
    $font-Flaticon-070-franchise: "\f145";
    $font-Flaticon-071-server: "\f146";
    $font-Flaticon-072-group: "\f147";
    $font-Flaticon-073-network: "\f148";
    $font-Flaticon-074-cassette: "\f149";
    $font-Flaticon-075-shopping-cart: "\f14a";
    $font-Flaticon-076-car-key: "\f14b";
    $font-Flaticon-077-paint-brush: "\f14c";
    $font-Flaticon-078-brightness: "\f14d";
    $font-Flaticon-079-book: "\f14e";
    $font-Flaticon-080-shopping-basket: "\f14f";
    $font-Flaticon-081-shopping-bags: "\f150";
    $font-Flaticon-082-settings-1: "\f151";
    $font-Flaticon-083-agenda: "\f152";
    $font-Flaticon-084-settings: "\f153";
    $font-Flaticon-085-filter: "\f154";