.container-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "header-about" "info" "image";
    min-width: 1200px;
    min-height: 100%;
    margin: auto;
}

.site-header-about {
    grid-area: header-about;
}

.site-info-about {
    grid-area: info;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "intro-image intro-info";
}

.site-intro-image {
    grid-area: intro-image;
}

.site-intro-info {
    grid-area: intro-info;
}

.site-image-about {
    grid-area: image;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
            "image1 image2 image3"
            "image4 image5 image6"
            "image7 image8 image9";
    grid-gap: 20px;
    margin: auto;
}

.site-image1 {
    grid-area: image1;
}

.site-image2 {
    grid-area: image2;
}

.site-image3 {
    grid-area: image3;
}

.site-image4 {
    grid-area: image4;
}

.site-image5 {
    grid-area: image5;
}

.site-image6 {
    grid-area: image6;
}

.site-image7 {
    grid-area: image7;
}

.site-image8 {
    grid-area: image8;
}

.site-image9 {
    grid-area: image9;
}

.intro-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
    float: right;
}

.intro-info {
    float: left;
    margin-top: 9px;
    font-size: 25px;
}

.show-image-about {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 10px;
}
