.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    grid-template-areas: "header" "main";
    min-width: 1200px;
    min-height: 100%;
    margin: auto;
}

.site-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo each-page button";
    width: 100%;
}

.site-logo {
    grid-area: logo;
}

.site-each-page {
    grid-area: each-page;
}

.site-button {
    grid-area: button;
}

.site-main {
    grid-area: main;
}

.site-main-upload {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "image form-upload";
}

.site-image {
    grid-area: image;
}

.site-upload {
    grid-area: form-upload;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "choose-image" "tag" "collecton" "form-upload";
}

.site-choose-image {
    grid-area: choose-image;
}

.site-tag {
    grid-area: tag;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
            "header-upload-tag header-upload-tag header-upload-tag header-upload-tag header-upload-tag"
            "tag1 tag2 tag3 tag4 tag5"
            "tag6 tag7 tag8 tag9 tag10"
            "tag11 tag12 tag13 tag14 tag15"
            "tag16 tag17 tag18 tag19 tag20" ;
}

.site-tag1 {
    grid-area: tag1;
}

.site-tag2 {
    grid-area: tag2;
}

.site-tag3 {
    grid-area: tag3;
}

.site-tag4 {
    grid-area: tag4;
}

.site-tag5 {
    grid-area: tag5;
}

.site-tag6 {
    grid-area: tag6;
}

.site-tag7 {
    grid-area: tag7;
}

.site-tag8 {
    grid-area: tag8;
}

.site-tag9 {
    grid-area: tag9;
}

.site-tag10 {
    grid-area: tag10;
}

.site-tag11 {
    grid-area: tag11;
}

.site-tag12 {
    grid-area: tag12;
}

.site-tag13 {
    grid-area: tag13;
}

.site-tag14 {
    grid-area: tag14;
}

.site-tag15 {
    grid-area: tag15;
}

.site-tag16 {
    grid-area: tag16;
}

.site-tag17 {
    grid-area: tag17;
}

.site-tag18 {
    grid-area: tag18;
}

.site-tag19 {
    grid-area: tag19;
}

.site-tag20 {
    grid-area: tag20;
}

.site-collection {
    grid-area: collection;
    margin-top: 20px;
    margin-bottom: 20px;
}

.site-form-upload {
    grid-area: form-upload;
}

.theme1_bg {
    background-color: #fa7169;
}

.theme2_bg {
    background-color: #f1d9cc;
}

.theme1_font {
    color: #f1d9cc;
}

.theme2_font {
    color: #fa7169;
}

.magin_images {
    margin: 5px;
}

.header-right {
    float: right;

}

.space-left-button-header {
    margin-left: 20px;
}

.color-font-softpink {
    color: #f1d9cc;
}

.color-font-livingcoral {
    color: #fa7169;
}

.color-bg-softpink {
    background-color: #f1d9cc;
}

.ul-button-header {
    margin: 9px;
    margin-right: 20px;
}

.font {
    font-family: 'Permanent Marker', cursive;
}

.font1 {
    font-family: 'Caveat Brush', cursive;
}

.font2 {
    font-family: 'Sacramento', cursive;
}

.size-font-checkbox {
    font-size: 20px;
}

.size-font-dropdown {
    font-size: 28px;
}

.popup_control {
    width: 80%;
    margin: auto;
}

.button-join, .button-login, .button-edit {
    border-radius: 2px;
    border: 0;
    background-color: #f1d9cc;
    width: 18%;
    height: 30px;
}

.button-upload {
    border-radius: 2px;
    border: 0;
    background-color: #fa7169;
    width: 18%;
    height: 30px;
}

.button-exit-popup {
    background-color: Transparent;
    border: 0px;
    color: #f1d9cc;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

.error {
    color: red;
}

.margin-0 {
    margin: 0;
}

.center {
    text-align: center;
}

.user-header-image {
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button-user {
    background-color: transparent;
    border: 0;
    height: 30px;
    padding: 0;
}

.your-user {
    padding-left: 30px;
    padding-top: 30px;
}

.upload-tag {
    grid-area: header-upload-tag;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 28px;
}

.upload-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 70%;
    height: 50%;
}

.show_image_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "show-image1 show-image2 show-image3 show-image4";
}

.show-image0 {
    grid-area: show-image1;
}

.show-image1 {
    grid-area: show-image2;
}

.show-image2 {
    grid-area: show-image3;
}

.show-image3 {
    grid-area: show-image4;
}

.show-image {
    min-width: 100%;
    position: relative;
}

.show-image-group {
    width: 100%;
}

.pagination {
    text-align: center;
    margin: 30px auto;
    color: #a72831;
}

.pagination a {
    padding: 0 5px;
    color: #fa7169;
}

.size-center-about {
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.site-main-show-image {
    display: grid;
    grid-template-columns: 1fr 10fr 5fr;
    grid-template-rows: max-content 500px max-content;
    grid-template-areas:
            "user user user"
            ". show-image btn-image"
            "show-tag show-tag show-tag";
    grid-gap: 10px;
}
.site-user {
    grid-area: user;
}

.site-show-image {
    grid-area: show-image;
}

.site-btn-image {
    grid-area: btn-image;
}

.site-show-tag {
    grid-area: show-tag;
}

.size-center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-btn-image {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.size-icon {
    width: 40px;
    height: 40px;
}

.show-tag {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.edit-image {
    display: inline-block;
    vertical-align: bottom;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

.show-image-menu {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "show-image-menu-share show-image-menu-favor show-image-menu-download";
}

.show-image-menu-share {
    grid-area: show-image-menu-share;
}

.show-image-menu-favor {
    grid-area: show-image-menu-favor;
}

.show-image-menu-download {
    grid-area: show-image-menu-download;
}

.show-image-menu-icon {
    margin: auto;
}

.show-image-menu-user {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "show-image-menu-share-user show-image-menu-favor-user show-image-menu-download-user show-image-menu-delete-user";
}

.show-image-menu-share-user {
    grid-area: show-image-menu-share-user;
}

.show-image-menu-favor-user {
    grid-area: show-image-menu-favor-user;
}

.show-image-menu-download-user {
    grid-area: show-image-menu-download-user;
}

.show-image-menu-delete-user {
    grid-area: show-image-menu-delete-user;
}

/*-------------------------button search----------------------*/
.search-container {
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
}

.search-block {
    position: absolute;
    top: 20%;
    left: 0;
    display: inline-block;
    border: none;
    width: 88%;
    height: 60%;
    padding: 0;
    padding-left: 2%;
    border-radius: 10px 0 0 10px;
}

.search-btn {
    position: absolute;
    top: 20%;
    right: 0;
    display: inline-block;
    border: none;
    width: 10%;
    height: 60%;
    padding: 0;
    border-radius: 0 10px 10px 0;
}

.search-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(241, 217, 204, 0.8);
}

.share_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "facebook twitter email";
    width: 100%;
}

.share_container_facebook {
    grid-area: facebook;
}

.share_container_twitter {
    grid-area: twitter;
}

.share_container_email {
    grid-area: email;
}
/*--------------------end button search------------*/


ul, li {
    display: inline-block;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100% !important;
    height: 100%;
}

html {
    height: 100%;
}

/*----------------------------------------------js-------------------------------------------*/
#popup_signup, #popup_login, #popup_edit, #popup_share {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
    z-index: 2;
}

#popup_contact, #popup_contact_login, #popup_contact_edit, #popup_contact_share{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 10%;
    padding: 30px;
    background-color: rgba(71, 81, 90, 0.9);
    color: #fa7169;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
}

/*----------------------------for dropdown------------------------*/
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    /*color: #fa7169;*/
    font-size: 25px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1d9cc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fa7169;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f2c3aa;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f2c3aa;
    border-radius: 10px;
}

/*----------------------------------------dropdown list------------------------------------*/
.dropbtn-list {
    background-color: transparent;
    font-size: 25px;
    border: none;
}

.dropdown-list {
    position: relative;
    display: inline-block;
}

.dropdown-content-list {
    display: none;
    position: absolute;
    background-color: #f1d9cc;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content-list a {
    color: #fa7169;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content-list a:hover {
    background-color: #f2c3aa;
}

/* Show the dropdown menu on hover */
.dropdown-list:hover .dropdown-content-list {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-list:hover .dropbtn-list {
    background-color: #a72831;
    border-radius: 10px;
}